body {
    background-color: #e6dacd;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

* {
    list-style: none;
    padding: 0;
    margin: 1px;
}
nav.menu{
    background-color: #4e3c00;
}
#nav {
    text-align: center;
}

#nav li {
    display: inline-block;
    position: relative;
    background-color: #4e3c00;
}

#nav li a {
    text-decoration: none;
    line-height: 45px;
    display: block;
    width: 220px;
    color: white;
}

#nav li li a {
    font-size: 90%;
}

#nav ul {
    position: absolute;
    padding: 1;
    display: none;
}

#nav li:hover ul {
    display: block;
}

#nav li:hover {
    background-color: #6e5608;
    transition-duration: 0.5s;
}

.button-center{
    display: flex;
    justify-content: center;
}


@media screen and (max-width: 800px) {
    #nav li{
        display: block;
    }
    #nav ul{
        position: relative;
    }
 
    #nav {
        text-align: left;
    }

    #nav li a {
        padding: 10px;
    }
}


a:link {
    color: #6e5608;
}

a:visited {
    color: #4e3c00;
}

a:hover {
    color: blue;
}

a:focus {
    background-color: #fff;
    color: black;
}

.label-container{
    margin-bottom: 10px;
}

.input-container{
    margin-bottom: 15px;
}

.button {
    background-color: #4e3c00;
    color: white;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    padding: 15px 80px;
    margin: 2px 2px;
    border-radius: 4px;
    cursor: pointer;
}

.buttonn {
    background-color: #4e3c00;
    color: #fff;
}

.buttonn:hover {
    background-color: #6e5608;
    color: white;
    transition-duration: 00.5s;
}


.image {
    display: block;
    opacity: 1;
    cursor: pointer;
}

.image:hover {
    opacity: 0.3;
    transition-duration: 00.5s;
} 

.pic-car{
    width: 100%;
    height: auto;
}

@keyframes display{
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    10% {
        transform: translateX(0);
        opacity: 1;
    }
    80% {
        transform: translateX(0);
        opacity: 1;
    }
    90% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(-100px);
        opacity: 0;
    }
}

.pic-car{
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 40px;
}

.pic-car > img {
    position: relative;
    opacity: 0;
    animation: display 5s infinite;
    z-index: -1;
}